/*
Author: Ron Abina
Date: 15 April 2024
File Name: styles.css for Challenge 7 - Fluid Layout
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #9cb6e8;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rule to hide tab-desk class */
.tab-desk {
    display: none;
}

/* Style rules for header content */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    color: #234b95; 
    background-color: #9cb6e8;
}

header h1 {
    font-size: 3em;
    padding-top: 2%;
    font-family: 'Cookie', cursive;
}

header h3 {
    font-style: italic;
    font-size: 1.25em;
    padding-bottom: 2%;
}

/* Style rules for navigation area */
nav {
    background-color: #234b95;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top: 1px solid #70abf4;
}

nav li:first-child{
    border-top: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rule for hero image */
#hero {
    clear: left;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: sans-serif;
}

main h2 {
    color: #234b95;
    font-size: 1.6em;
}

main p {
    font-size: 1.5em;
}

main ul {
    list-style-type: square;
    margin: 10%;
    font-size: 1.2em;
}
/* 
.action {} contact page

.round {} 
*/

#pamper, #full, #basic {
    margin: 0.2%;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    clear: left;
    color: #234b95;
    font-weight: bold;
}

footer a {
    color: #234b95;
    text-decoration: none;
}