/*rule will set global styles such as system font*/
/* body {
    font-family: "sofia-pro-soft", sans-serif;
} */

/*rule sets fixed sizing for container*/
#container {
	/* padding: 10px; */
	margin: 0 auto;/*center container in browser*/
    background-color: #FAF9F6;
}
/*rule sets fixed sizing to header*/
header {
    font-family: "eigerdals", sans-serif;
    padding: 5px;
    text-align: center;
    background-color: #0e367c;
    color: #ffffff;
    border-bottom:3px solid black;
}
h1{
    padding: 5px;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 10%;
}
/*rule will make main section a box with following properties*/
main {
    font-family: "sofia-pro-soft", sans-serif;
    font-size: 18px;
}
h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
h4 {
    font-size: 20px;
}
#about {
    padding: 5px;
}
#about h4{
    color: #4874bf;
}
#about h3 {
    color: #0e367c;
}
img {
    clip-path: circle(60%);
}
/*rule will float image right*/
figure{
	float: right;
    margin: 0 10px;
}
#projects {
    border: 4px dotted #fba257;
}
#challenges h4 {
    color: #ab3434;
}
#practices h4 {
    color: #ab3434;
}
#challenges a, #practices a {
    color: black;
    text-decoration: underline #f44242;
}
footer {
    color: #0e367c;
}